# Игнорируем файлы с сессиями Telethon
*.session
*.session-journal

# Игнорируем конфиденциальные данные
.env

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальные окружения
venv/
.env/
